{% extends 'base.html.twig' %}
{% block body %}
<section class="lesson">
	<div class="row features">
		 {% for lesson in lessons %}
					<div class="col-sm-6 col-lg-4 item"> 
			               			<br>             
					                  <img src="http://placehold.it/150x140" alt="">
											<h3>{{lesson.title}}</h3>
											<p>{{lesson.description}}</p>	
					                    
					                  <a  href= {{path('lesson',{'id':lesson.id})}} ><button class="btn btn-primary">Commencer</button></a>
					                   
			      	</div>
           {% endfor %}		
        
      </section>
            	
            
                {% endblock %}